body{
    background-color: aliceblue;
    color: black;
}
nav{
    margin: 10px auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
nav a{
    color: azure;
    text-decoration: none;
    margin-left: 12px;
    padding: 10px;
    font-size: 18px;
}
nav a:hover{
    color: burlywood;
}

nav .logo{
    margin-right: auto;
    padding-left: 10px;
}
footer{
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px 0;
    color: #777;
    border-top: 1px solid #eaeaea;
}