.title{
  color: black;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 150px;
  padding: 8px 0;
  background:cornflowerblue;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  border-radius: 3px ;
}